body{
  background-color: #EBEBEE;
  font-family: sans-serif;
}

*,
:before,
:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.header{
  margin: 0 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px #C5C7D9;
 
}

.header_logo{
 height: 60px;
 width: 60px;
 border-radius: 50%;
 padding: 10px;
}

.header_user_image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.2s linear;
  
}

.header_user_image:hover{
  opacity: 0.5;
}

.promo{
  height: 400px;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 10px #C5C7D9;
}

button {
  box-shadow: 0 0 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  height: 60px;
  width: 120px;
  margin: 150px 10px 0 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
  background: linear-gradient(45deg, #2E59FF, #8C32BE);
  filter: blur(0);
  transition: filter 0.2s linear;
}

button:hover {
  filter: blur(0.5px);
}

.mailen_text {
  text-transform: uppercase;
  color: white;
}