.nav-btn:hover{
  color: black;
}

.nav-btn:hover::before{
  opacity: 1;
}


.form-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 300px;

  border-radius: 35px;

  background : linear-gradient(90deg, rgba(9, 68, 157, 0.3) 0%, rgba(19, 77, 163, 0.3) 13%, rgba(44, 100, 178, 0.3) 34%, rgba(86, 139, 202, 0.3) 62%, rgba(144, 191, 236, 0.3) 94%, rgba(156, 202, 243, 0.3) 100%);

}



.login-form input{
  margin: 20px 0 20px 0;

  height: 50px;
  width: 70%;

  border: 0;
  border-radius: 35px;
   opacity : 1;

   font-size: 20px;
   text-align: center;
}


.login-form input::placeholder{
  font-size: 20px;
  text-align: center;

}

.login-icon{
  position: relative;
  top: -40px;
  height: 70px;
  width: 70px;
  background: white;

  border-radius: 100%;
}
